body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #ffffff;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {

}

.custom-width {
    width: 50px !important;
}

